
Source
https://www.nbim.no/en/the-fund/holdings/holdings-as-at-31.12.2019/?fullsize=true
    
@todo map company names to symbols

In [89]:
import pandas as pd 
df =pd.read_excel("EQ_2019_Industry.xlsx")

In [90]:
df.shape

(9202, 9)

In [77]:
df.columns

Index(['Industry', 'Region', 'Country', 'Name', 'Market Value(NOK)',
       'Market Value(USD)', 'Voting', 'Ownership', 'Incorporation Country'],
      dtype='object')

In [78]:
df["Industry"].unique()

array(['Basic Materials', 'Consumer Goods', 'Consumer Services',
       'Financials', 'Health Care', 'Industrials', 'Oil & Gas',
       'Technology', 'Telecommunications', 'Utilities'], dtype=object)

In [79]:
tech = df[(df.Industry == "Technology") | (df.Industry == "Telecommunications") ].reset_index()

In [80]:
tech

,index,Industry,Region,Country,Name,Market Value(NOK),Market Value(USD),Voting,Ownership,Incorporation Country
0,7944,Technology,Asia,China,21Vianet Group Inc,104386646,11879263,0.44,1.46,Cayman Islands
1,7945,Technology,North America,United States,3D Systems Corp,38075448,4333009,0.42,0.42,United States
2,7946,Technology,Europe,Switzerland,ams AG,722270408,82194805,2.40,2.40,Austria
3,7947,Technology,Europe,Poland,AB SA,37713,4292,NaN,0.00,Poland
4,7948,Technology,North America,United States,Acacia Communications Inc,302904127,34470671,1.23,1.23,United States
...,...,...,...,...,...,...,...,...,...,...
995,8939,Telecommunications,Europe,United Kingdom,Vodafone Group PLC,13081081379,1488634891,2.86,2.86,United Kingdom
996,8940,Telecommunications,Asia,India,Vodafone Idea Ltd,120279882,13687923,0.55,0.55,India
997,8941,Telecommunications,North America,United States,Vonage Holdings Corp,179818722,20463478,1.14,1.14,United States
998,8942,Telecommunications,Asia,Indonesia,XL Axiata Tbk PT,319880567,36402600,1.50,1.50,Indonesia
999,8943,Telecommunications,North America,United States,Zayo Group Holdings Inc,563133831,64084967,0.78,0.78,United States

In [88]:
print(tech.groupby('Country')['Country'].value_counts())

Country         Country
Australia       Australia          22
Austria         Austria             1
Bangladesh      Bangladesh          2
Belgium         Belgium             4
Brazil          Brazil              4
Canada          Canada             11
Chile           Chile               1
China           China              86
Croatia         Croatia             1
Denmark         Denmark             2
Egypt           Egypt               1
Finland         Finland             5
France          France             28
Germany         Germany            26
Greece          Greece              2
Hong Kong       Hong Kong          15
Hungary         Hungary             1
India           India              25
Indonesia       Indonesia           4
Israel          Israel             21
Italy           Italy              12
Japan           Japan             156
Kenya           Kenya               1
Kuwait          Kuwait              2
Latvia          Latvia              1
Malaysia        Malaysia           20
Mexico          Mexico              1
Morocco         Morocco             4
Netherlands     Netherlands         7
New Zealand     New Zealand         4
Nigeria         Nigeria             1
Oman            Oman                1
Poland          Poland             17
Portugal        Portugal            2
Qatar           Qatar               1
Romania         Romania             1
Russia          Russia              2
Singapore       Singapore           6
Slovenia        Slovenia            1
South Africa    South Africa        5
South Korea     South Korea        51
Spain           Spain               7
Sri Lanka       Sri Lanka           1
Sweden          Sweden             11
Switzerland     Switzerland        11
Taiwan          Taiwan            123
Thailand        Thailand            9
Tunisia         Tunisia             1
Turkey          Turkey              7
United Kingdom  United Kingdom     24
United States   United States     246
Vietnam         Vietnam             2
Name: Country, dtype: int64